body {
    background-color:#D8D9CF;
    
}

img{
    border-radius: 100%;
}
hr {
    border-style: none;
    border-top-style:double;
    border-color: white;
    border-width: 5px;
    width: 20%;

  
}
h1, h3 {
    color: #E26868 ;
}